@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h2>Informacja o bieżących rekrutacjach</h2>
	<p class="lead">Tu znajdą się informacje o bieżących rekrutacjach, dacie rozpoczęcia i zakończenia oraz ilości wolnych miejsc</p>
	
</div>
